html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow:hidden;
}

body {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    background-image: url("fondo/foto.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
	 font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    text-align: center;
    color: #CC9B09;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 20px;
}

p{
	text-shadow: -2px -2px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
    font-size: 16px;
    color: #C8B98F;
    text-align: center;
	max-width: 600px;      
  margin: 0 auto;        
  padding: 20px; font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 120px;
    height: 160px;
}

.modal {
    display: none;
}

.modal:target {
    
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 5px solid #000;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

.modal h3 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 5px solid #000;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}